
.sidebar {
    width: 230px;
    height: 100vh;
    background-color: #000055 !important; /* Ensure the color is applied */
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sidebar h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 24px;
    border-bottom: 1px solid #34495e;
    width: 100%;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.sidebar ul li a.active {
    background-color: #1abc9c;
}
